 <!--CRQ FORM-->
<div class="row justify-content-between text-left newcrq">
    <div class="form-group col-sm-5 flex-column d-flex"> 
        <label class="form-control-label px-3">CRQ Number<span class="text-danger"> *</span></label> 
        <input type="text" class="crqInput" value="" placeholder="CRQ000000"> 
    </div>
    <div class="form-group col-sm-5 flex-column d-flex"> 
        <div class="dropdown mt-4">
            <button class="btn-block btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Project Components
            </button>
            <div class="dropdown-menu" id="components-dropdown" aria-labelledby="dropdownMenuButton">
            </div>
        </div>
    </div>
    <div class="form-group col-sm-2 flex-column d-flex mt-4">
        <button class="btn-block btn-primary" type="button" id="deleteButton" aria-haspopup="true" aria-expanded="false">
           Delete
        </button>
    </div>

    <div class="form-group col-12 col-sm-6 col-md-12 flex-column d-flex" id="build-div">
    </div>
</div>
