body{
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background: linear-gradient(-45deg, #2196F3 50%, #EEEEEE 50%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card{
    padding: 30px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
}


/*NEW DPI*/
.blue-text{
    color: #00BCD4;
}

.form-control-label{
    margin-bottom: 0;
}

input, textarea, button{
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 15px !important;
    font-weight: 300;
}

input:focus, textarea:focus{
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00BCD4;
    outline-width: 0;
    font-weight: 400;
}

.btn-block{
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;
    cursor: pointer
}

.btn-block:hover{
    color: #fff !important;
}

button:focus{
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

.dropdown-menu label {
    display: block;
}

button#dropdownMenuButton{
    height: 43px;
}

button#dropdownMenuButton:hover{
    color: #fff !important;
}

button{
    background-color: #ccc !important;
    border: #ccc !important;
    color: black !important;
}

select.form-select {
    /* border: gray; */
    border: 1px solid lightgrey;
    border-radius: 3px;
    height: 40px;
}

/*DPI REPORT*/
.app-item{

    border: 1px solid darkgray;
    margin: 20px 5px 20px 5px;
    padding: 15px;
    font-size: 30px;
    text-align: center;
    color: darkgray;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
}

a.app-item:hover{
    cursor: pointer;
}

/*display: inline-flex;*/
ul#myPager {
    display: inline-flex !important;
}

